nifi/template-five.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>29034e8e-0187-1000-2e2b-194d65db1da1</groupId>
    <name>template-five</name>
    <snippet>
        <connections>
            <id>040e6c01-ea32-3543-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>040e6c01-ea32-3543-9064-a0b084a897f3</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>53288259-042d-3962-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>53288259-042d-3962-98cb-cacd29aaa984</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>link</name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>10d07b13-2483-3992-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>10d07b13-2483-3992-bfb2-8fac150f4796</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>05a68e1a-3acf-3751-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>05a68e1a-3acf-3751-902a-0aef335cb17e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>f2383618-20fe-3fe4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f2383618-20fe-3fe4-859b-a9712a2d1009</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>542bd3e5-f483-3028-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>542bd3e5-f483-3028-967b-d3e1e1f80e77</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0642ee6a-505b-35bd-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>0642ee6a-505b-35bd-895c-60e82baa7cf4</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>542bd3e5-f483-3028-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>542bd3e5-f483-3028-967b-d3e1e1f80e77</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>sql</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>a72fe26a-a36c-3dde-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a72fe26a-a36c-3dde-9394-b97e17af2820</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1051f7d1-505c-3764-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>1051f7d1-505c-3764-b5d7-fad3c0ed04b2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>f2383618-20fe-3fe4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f2383618-20fe-3fe4-859b-a9712a2d1009</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>a72fe26a-a36c-3dde-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a72fe26a-a36c-3dde-9394-b97e17af2820</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>24470d40-2464-3304-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>24470d40-2464-3304-bd29-acbe81961516</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>ebb22479-7249-33b3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ebb22479-7249-33b3-8928-5a321fa4a05c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>8c2dfbae-a07c-3fd7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8c2dfbae-a07c-3fd7-8efa-c3b9db2cf8e2</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>278ca71b-a01f-3254-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>278ca71b-a01f-3254-bc1c-ae3358f5930c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>269449de-a9ca-3c73-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>269449de-a9ca-3c73-9d24-cfdff517ff89</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>sql</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>9284bfdb-89b3-3f67-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9284bfdb-89b3-3f67-b7df-14942a3f9e92</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>298ce01f-a1bd-351f-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>298ce01f-a1bd-351f-97e6-50fbfebeca5c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <bends>
                <x>1953.2533691406252</x>
                <y>858.7569091796875</y>
            </bends>
            <bends>
                <x>1953.2533691406252</x>
                <y>908.7569091796875</y>
            </bends>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>542bd3e5-f483-3028-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>542bd3e5-f483-3028-967b-d3e1e1f80e77</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>542bd3e5-f483-3028-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>542bd3e5-f483-3028-967b-d3e1e1f80e77</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2a9bd086-c616-3dc3-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>2a9bd086-c616-3dc3-9803-f926ebf7fc2e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>0.0</x>
                <y>860.0</y>
            </bends>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>2a1fa06e-c61f-3bbc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2a1fa06e-c61f-3bbc-bcf9-c4ef5f84fb8b</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>sql</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>6ccfe0de-457c-304f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6ccfe0de-457c-304f-87dc-41252a437f59</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2c801299-b5a7-3c2e-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>2c801299-b5a7-3c2e-b37e-e4845386bfc0</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2695.0</x>
                <y>517.0</y>
            </bends>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>ebb22479-7249-33b3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ebb22479-7249-33b3-8928-5a321fa4a05c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>9284bfdb-89b3-3f67-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9284bfdb-89b3-3f67-b7df-14942a3f9e92</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>322f162d-5da8-35df-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>322f162d-5da8-35df-b17e-43270ac82f29</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <bends>
                <x>518.713134765625</x>
                <y>949.355712890625</y>
            </bends>
            <bends>
                <x>518.713134765625</x>
                <y>999.355712890625</y>
            </bends>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>2a1fa06e-c61f-3bbc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2a1fa06e-c61f-3bbc-bcf9-c4ef5f84fb8b</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>2a1fa06e-c61f-3bbc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2a1fa06e-c61f-3bbc-bcf9-c4ef5f84fb8b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>452fa3ce-fbf4-31e5-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>452fa3ce-fbf4-31e5-b423-8380042acdf5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>ae960a16-974a-3bbc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ae960a16-974a-3bbc-b08e-26086f272d27</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>link</name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>982f3a00-4f31-3cd7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>982f3a00-4f31-3cd7-b09d-9bc318d7b321</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>47e87fbe-576d-37ef-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>47e87fbe-576d-37ef-9d5b-6cd851d6fd47</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1235.0</x>
                <y>457.0</y>
            </bends>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>f2383618-20fe-3fe4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f2383618-20fe-3fe4-859b-a9712a2d1009</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>a72fe26a-a36c-3dde-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a72fe26a-a36c-3dde-9394-b97e17af2820</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>51ed8cee-4b9e-3c89-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>51ed8cee-4b9e-3c89-8c2a-c6a5c6d4caea</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>9284bfdb-89b3-3f67-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9284bfdb-89b3-3f67-b7df-14942a3f9e92</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>lnk</name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>8c2dfbae-a07c-3fd7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8c2dfbae-a07c-3fd7-8efa-c3b9db2cf8e2</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>521eca31-1ae6-3891-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>521eca31-1ae6-3891-88a3-3314471560c5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>ebb22479-7249-33b3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ebb22479-7249-33b3-8928-5a321fa4a05c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>9284bfdb-89b3-3f67-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9284bfdb-89b3-3f67-b7df-14942a3f9e92</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7a1b033d-7c01-3b89-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>7a1b033d-7c01-3b89-99be-2178d484003c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <bends>
                <x>2654.369468589807</x>
                <y>817.8795684006786</y>
            </bends>
            <bends>
                <x>2654.369468589807</x>
                <y>867.8795684006786</y>
            </bends>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>269449de-a9ca-3c73-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>269449de-a9ca-3c73-9d24-cfdff517ff89</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>269449de-a9ca-3c73-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>269449de-a9ca-3c73-9d24-cfdff517ff89</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c2ab1e36-5cf5-3fef-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>c2ab1e36-5cf5-3fef-ab56-3d7b51b160b7</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>571.0</x>
                <y>489.0</y>
            </bends>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>f2383618-20fe-3fe4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f2383618-20fe-3fe4-859b-a9712a2d1009</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>6ccfe0de-457c-304f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6ccfe0de-457c-304f-87dc-41252a437f59</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c3a3de7b-3600-3a90-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>c3a3de7b-3600-3a90-bf0f-9a0017458b49</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>f2383618-20fe-3fe4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f2383618-20fe-3fe4-859b-a9712a2d1009</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>6ccfe0de-457c-304f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6ccfe0de-457c-304f-87dc-41252a437f59</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c3f81849-13a1-312b-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>c3f81849-13a1-312b-85fe-a0693bf31d79</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>ebb22479-7249-33b3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ebb22479-7249-33b3-8928-5a321fa4a05c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>269449de-a9ca-3c73-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>269449de-a9ca-3c73-9d24-cfdff517ff89</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c6e2afae-ac34-3bea-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>c6e2afae-ac34-3bea-acea-a66f632e5857</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>8c2dfbae-a07c-3fd7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8c2dfbae-a07c-3fd7-8efa-c3b9db2cf8e2</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>link</name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>179c114d-d724-3605-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>179c114d-d724-3605-8c97-7bb1b1fb5218</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e3636d1b-acc8-31a8-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>e3636d1b-acc8-31a8-bdbd-c267b6f08daa</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>6ccfe0de-457c-304f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6ccfe0de-457c-304f-87dc-41252a437f59</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>53288259-042d-3962-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>53288259-042d-3962-98cb-cacd29aaa984</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ecfcf178-d43e-3088-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>ecfcf178-d43e-3088-9674-41b241a74f58</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>a72fe26a-a36c-3dde-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a72fe26a-a36c-3dde-9394-b97e17af2820</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>lnk</name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>ae960a16-974a-3bbc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ae960a16-974a-3bbc-b08e-26086f272d27</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ff377b68-fe24-3f02-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>ff377b68-fe24-3f02-9031-6f68c44ab604</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>f2383618-20fe-3fe4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f2383618-20fe-3fe4-859b-a9712a2d1009</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>dd8e8ee8-aabc-3a59-0000-000000000000</groupId>
                <id>2a1fa06e-c61f-3bbc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2a1fa06e-c61f-3bbc-bcf9-c4ef5f84fb8b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>30af873b-5542-3b32-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>30af873b-5542-3b32-b809-ef0881296101</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>5b249c78-44fc-3025-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>5b249c78-44fc-3025-ae71-e7b21928a868</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>6610d8fb-ee25-31fd-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>6610d8fb-ee25-31fd-b8a2-8677313b8e2b</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>6ba2afad-765f-3d2b-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>6ba2afad-765f-3d2b-8c94-51d9829e2c97</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>6f6a1c9d-923f-3dec-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>6f6a1c9d-923f-3dec-a19f-bbfe76fa2135</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>7059abb7-e15b-3f32-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>7059abb7-e15b-3f32-b6b7-4f70c3ccbf25</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>nifi-mysql-fleet-management</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://db-fleet-management:3306/sample</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/drivers/mysql-driver.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>root</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>c96e29a4-63c0-3adc-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>c96e29a4-63c0-3adc-92d1-45c7e9bcb2f2</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>e22df1a7-884d-390e-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>e22df1a7-884d-390e-8afb-c74b7528304d</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>nifi-mysql-fleet-management</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://db-fleet-management:3306/sample</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/drivers/mysql-driver.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>root</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>f96a0c10-5800-3264-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <versionedComponentId>f96a0c10-5800-3264-93a6-f50dbba1a914</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>nifi-mysql-fleet-management</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://db-fleet-management:3306/sample</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/drivers/mysql-driver.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>root</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>10d07b13-2483-3992-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>35.0</x>
                <y>72.0</y>
            </position>
            <versionedComponentId>10d07b13-2483-3992-bfb2-8fac150f4796</versionedComponentId>
            <bundle>
                <artifact>nifi-kafka-1-0-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>redpanda:9092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>Drivers</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>fleet-management-nifi</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                </properties>
                <retriedRelationships>success</retriedRelationships>
                <retryCount>2</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>driver events consumer</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>true</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
        </processors>
        <processors>
            <id>179c114d-d724-3605-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>2171.0</x>
                <y>24.0</y>
            </position>
            <versionedComponentId>179c114d-d724-3605-8c97-7bb1b1fb5218</versionedComponentId>
            <bundle>
                <artifact>nifi-kafka-1-0-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>redpanda:9092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>Complaints</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>fleet-management-nifi</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                </properties>
                <retriedRelationships>success</retriedRelationships>
                <retryCount>2</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>complaints-service</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>true</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
        </processors>
        <processors>
            <id>269449de-a9ca-3c73-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>2179.0</x>
                <y>776.0</y>
            </position>
            <versionedComponentId>269449de-a9ca-3c73-9d24-cfdff517ff89</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>f96a0c10-5800-3264-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSQL nifi fleetmanagement</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>2a1fa06e-c61f-3bbc-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>51.0</x>
                <y>912.0</y>
            </position>
            <versionedComponentId>2a1fa06e-c61f-3bbc-bcf9-c4ef5f84fb8b</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>7059abb7-e15b-3f32-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSQL nifi fleetmanagement</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>53288259-042d-3962-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>43.0</x>
                <y>320.0</y>
            </position>
            <versionedComponentId>53288259-042d-3962-98cb-cacd29aaa984</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>c96e29a4-63c0-3adc-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>5b249c78-44fc-3025-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertRecord-TXT-TO-JSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>542bd3e5-f483-3028-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>1483.0</x>
                <y>816.0</y>
            </position>
            <versionedComponentId>542bd3e5-f483-3028-967b-d3e1e1f80e77</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>e22df1a7-884d-390e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSQL nifi fleetmanagement</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>6ccfe0de-457c-304f-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>51.0</x>
                <y>568.0</y>
            </position>
            <versionedComponentId>6ccfe0de-457c-304f-87dc-41252a437f59</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Statement Type</key>
                        <value>
                            <name>Statement Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>
                            <name>Table Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Catalog Name</key>
                        <value>
                            <name>Catalog Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                        <value>
                            <name>Schema Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Translate Field Names</key>
                        <value>
                            <name>Translate Field Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unmatched Field Behavior</key>
                        <value>
                            <name>Unmatched Field Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unmatched Column Behavior</key>
                        <value>
                            <name>Unmatched Column Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Keys</key>
                        <value>
                            <name>Update Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-quoted-identifiers</key>
                        <value>
                            <name>jts-quoted-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-quoted-table-identifiers</key>
                        <value>
                            <name>jts-quoted-table-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-sql-param-attr-prefix</key>
                        <value>
                            <name>jts-sql-param-attr-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>
                            <name>table-schema-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>7059abb7-e15b-3f32-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Statement Type</key>
                        <value>INSERT</value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>Drivers</value>
                    </entry>
                    <entry>
                        <key>Catalog Name</key>
                        <value>sample</value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                    </entry>
                    <entry>
                        <key>Translate Field Names</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Unmatched Field Behavior</key>
                        <value>Ignore Unmatched Fields</value>
                    </entry>
                    <entry>
                        <key>Unmatched Column Behavior</key>
                        <value>Fail on Unmatched Columns</value>
                    </entry>
                    <entry>
                        <key>Update Keys</key>
                    </entry>
                    <entry>
                        <key>jts-quoted-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>jts-quoted-table-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>jts-sql-param-attr-prefix</key>
                        <value>sql</value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>10</value>
                    </entry>
                </properties>
                <retriedRelationships>original</retriedRelationships>
                <retriedRelationships>failure</retriedRelationships>
                <retryCount>2</retryCount>
                <runDurationMillis>100</runDurationMillis>
                <schedulingPeriod>1  sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertJSONToSQL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>sql</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
        </processors>
        <processors>
            <id>8c2dfbae-a07c-3fd7-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>2179.0</x>
                <y>264.0</y>
            </position>
            <versionedComponentId>8c2dfbae-a07c-3fd7-8efa-c3b9db2cf8e2</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>30af873b-5542-3b32-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>6ba2afad-765f-3d2b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertRecord-TXT-TO-JSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>9284bfdb-89b3-3f67-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>2187.0</x>
                <y>504.0</y>
            </position>
            <versionedComponentId>9284bfdb-89b3-3f67-b7df-14942a3f9e92</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Statement Type</key>
                        <value>
                            <name>Statement Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>
                            <name>Table Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Catalog Name</key>
                        <value>
                            <name>Catalog Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                        <value>
                            <name>Schema Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Translate Field Names</key>
                        <value>
                            <name>Translate Field Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unmatched Field Behavior</key>
                        <value>
                            <name>Unmatched Field Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unmatched Column Behavior</key>
                        <value>
                            <name>Unmatched Column Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Keys</key>
                        <value>
                            <name>Update Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-quoted-identifiers</key>
                        <value>
                            <name>jts-quoted-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-quoted-table-identifiers</key>
                        <value>
                            <name>jts-quoted-table-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-sql-param-attr-prefix</key>
                        <value>
                            <name>jts-sql-param-attr-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>
                            <name>table-schema-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>f96a0c10-5800-3264-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Statement Type</key>
                        <value>INSERT</value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>Complaints</value>
                    </entry>
                    <entry>
                        <key>Catalog Name</key>
                        <value>sample</value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                    </entry>
                    <entry>
                        <key>Translate Field Names</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Unmatched Field Behavior</key>
                        <value>Ignore Unmatched Fields</value>
                    </entry>
                    <entry>
                        <key>Unmatched Column Behavior</key>
                        <value>Fail on Unmatched Columns</value>
                    </entry>
                    <entry>
                        <key>Update Keys</key>
                    </entry>
                    <entry>
                        <key>jts-quoted-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>jts-quoted-table-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>jts-sql-param-attr-prefix</key>
                        <value>sql</value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>10</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>100</runDurationMillis>
                <schedulingPeriod>1  sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertJSONToSQL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>sql</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
        </processors>
        <processors>
            <id>982f3a00-4f31-3cd7-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>1475.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>982f3a00-4f31-3cd7-b09d-9bc318d7b321</versionedComponentId>
            <bundle>
                <artifact>nifi-kafka-1-0-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>redpanda:9092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>Service</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>fleet-management-nifi</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                </properties>
                <retriedRelationships>success</retriedRelationships>
                <retryCount>2</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>service events consumer</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>true</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
        </processors>
        <processors>
            <id>a72fe26a-a36c-3dde-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>1491.0</x>
                <y>488.0</y>
            </position>
            <versionedComponentId>a72fe26a-a36c-3dde-9394-b97e17af2820</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Statement Type</key>
                        <value>
                            <name>Statement Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>
                            <name>Table Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Catalog Name</key>
                        <value>
                            <name>Catalog Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                        <value>
                            <name>Schema Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Translate Field Names</key>
                        <value>
                            <name>Translate Field Names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unmatched Field Behavior</key>
                        <value>
                            <name>Unmatched Field Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unmatched Column Behavior</key>
                        <value>
                            <name>Unmatched Column Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Keys</key>
                        <value>
                            <name>Update Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-quoted-identifiers</key>
                        <value>
                            <name>jts-quoted-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-quoted-table-identifiers</key>
                        <value>
                            <name>jts-quoted-table-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jts-sql-param-attr-prefix</key>
                        <value>
                            <name>jts-sql-param-attr-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>
                            <name>table-schema-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>e22df1a7-884d-390e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Statement Type</key>
                        <value>INSERT</value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>Service</value>
                    </entry>
                    <entry>
                        <key>Catalog Name</key>
                        <value>sample</value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                    </entry>
                    <entry>
                        <key>Translate Field Names</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Unmatched Field Behavior</key>
                        <value>Ignore Unmatched Fields</value>
                    </entry>
                    <entry>
                        <key>Unmatched Column Behavior</key>
                        <value>Fail on Unmatched Columns</value>
                    </entry>
                    <entry>
                        <key>Update Keys</key>
                    </entry>
                    <entry>
                        <key>jts-quoted-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>jts-quoted-table-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>jts-sql-param-attr-prefix</key>
                        <value>sql</value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>10</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>100</runDurationMillis>
                <schedulingPeriod>1  sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertJSONToSQL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>sql</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
        </processors>
        <processors>
            <id>ae960a16-974a-3bbc-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>1483.0</x>
                <y>232.0</y>
            </position>
            <versionedComponentId>ae960a16-974a-3bbc-b08e-26086f272d27</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>6610d8fb-ee25-31fd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>6f6a1c9d-923f-3dec-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>2</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertRecord-TXT-TO-JSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>ebb22479-7249-33b3-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>2851.0</x>
                <y>552.0</y>
            </position>
            <versionedComponentId>ebb22479-7249-33b3-8928-5a321fa4a05c</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>release-signal-id</key>
                        <value>
                            <name>release-signal-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-signal-count</key>
                        <value>
                            <name>target-signal-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                        <value>
                            <name>signal-counter-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-buffer-count</key>
                        <value>
                            <name>wait-buffer-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>releasable-flowfile-count</key>
                        <value>
                            <name>releasable-flowfile-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>expiration-duration</key>
                        <value>
                            <name>expiration-duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                            <name>distributed-cache-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-copy-mode</key>
                        <value>
                            <name>attribute-copy-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-mode</key>
                        <value>
                            <name>wait-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-penalty-duration</key>
                        <value>
                            <name>wait-penalty-duration</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>release-signal-id</key>
                    </entry>
                    <entry>
                        <key>target-signal-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                    </entry>
                    <entry>
                        <key>wait-buffer-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>releasable-flowfile-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>expiration-duration</key>
                        <value>10 min</value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                    </entry>
                    <entry>
                        <key>attribute-copy-mode</key>
                        <value>keeporiginal</value>
                    </entry>
                    <entry>
                        <key>wait-mode</key>
                        <value>wait</value>
                    </entry>
                    <entry>
                        <key>wait-penalty-duration</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Wait</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>expired</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>wait</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.Wait</type>
        </processors>
        <processors>
            <id>f2383618-20fe-3fe4-0000-000000000000</id>
            <parentGroupId>dd8e8ee8-aabc-3a59-0000-000000000000</parentGroupId>
            <position>
                <x>739.0</x>
                <y>432.0</y>
            </position>
            <versionedComponentId>f2383618-20fe-3fe4-859b-a9712a2d1009</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.19.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>release-signal-id</key>
                        <value>
                            <name>release-signal-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-signal-count</key>
                        <value>
                            <name>target-signal-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                        <value>
                            <name>signal-counter-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-buffer-count</key>
                        <value>
                            <name>wait-buffer-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>releasable-flowfile-count</key>
                        <value>
                            <name>releasable-flowfile-count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>expiration-duration</key>
                        <value>
                            <name>expiration-duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                            <name>distributed-cache-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-copy-mode</key>
                        <value>
                            <name>attribute-copy-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-mode</key>
                        <value>
                            <name>wait-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>wait-penalty-duration</key>
                        <value>
                            <name>wait-penalty-duration</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>release-signal-id</key>
                    </entry>
                    <entry>
                        <key>target-signal-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>signal-counter-name</key>
                    </entry>
                    <entry>
                        <key>wait-buffer-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>releasable-flowfile-count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>expiration-duration</key>
                        <value>10 min</value>
                    </entry>
                    <entry>
                        <key>distributed-cache-service</key>
                    </entry>
                    <entry>
                        <key>attribute-copy-mode</key>
                        <value>keeporiginal</value>
                    </entry>
                    <entry>
                        <key>wait-mode</key>
                        <value>wait</value>
                    </entry>
                    <entry>
                        <key>wait-penalty-duration</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Wait</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>expired</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>wait</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.Wait</type>
        </processors>
    </snippet>
    <timestamp>04/01/2023 20:27:27 UTC</timestamp>
</template>
